<table>
  <thead>
    <th>Data</th>
    <th>Valor</th>
    <th>Destino</th>
  </thead>
  <tbody *ngIf="transferencias?.length > 0; else listaVazia">
    <tr *ngFor="let transferencia of transferencias">
      <td>{{ transferencia.data | date:"short"}}</td>
      <td>{{ transferencia.valor | currency }}</td>
      <td>{{ transferencia.destino }}</td>
    </tr>
  </tbody>
</table>

<!-- caso não exista nenhuma transação cadastrada, este bloco será renderizado dentro do tbody -->
<ng-template #listaVazia>
  <p>Nenhuma transferência cadastrada</p>
</ng-template>
